*# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


Makefile.in


/autom4te.cache/
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h*

/ltmain.sh
/decomp
/missing
/.deps
/config.guess
/config.sub
/config.log
/*.pc
/libtool
/config.status
config.h.in

.deps/
.libs/
.dirstamp
doc-pak/

*~
*.lo
*.la


